<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>	<h1>SIGN IN Form!!</h1>
				
			<form th:action="@{/logout}" method="post" th:object="${obj1}">
			<div>
				NAME:<input type="text" th:field="*{name}"/><br>
				PASSWORD:<input type="text" th:field="*{password}"/><br>
			</div>
			<div>
			<button type="submit">SIGN-IN</button>
			</div>
			</form>
			
			<h3><a th:href="@{/logout}">LogOUT</a></h3>
			
</center>
</body>
</html>